<div class="hero-image " style=" height: 500px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= url_for(@movie.bg_cover)%>)">
  <div class="hero-text">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <div class="zoom">
            <%= image_tag(@movie.cover, alt: "img 3", width: "100%") %>
          </div>
          <div class="card-body">
            <h5 class="card-title text-dark"><%= @movie.title %></h5>
            <p class="card-text text-dark"><%= @movie.description %></p>

            <% @movie.imdb_rating.to_i.times do %>
              <i class="fas fa-star text-warning"></i>
            <% end %>
            <% if (@movie.imdb_rating - @movie.imdb_rating.to_i) >= 0.5 %>
              <i class="fas fa-star-half-alt text-warning"></i>
            <% end %>

            <!-- %= like_button_for(@movie) %> -->
            <div>
              <% if @movie.votes.up.where(user_id: current_user.id).present? %>
                <%= link_to movie_vote_path(@movie, @movie.votes.up.find_by(user_id: current_user.id)), class: "like-btn btn btn-primary btn-sm px-3 ", method: :delete do %>
                  <span><i class="far fa-thumbs-up"></i></span>
                  <span><%= @movie.votes.up.size %></span>
                <% end %>
              <% else %>
                <%= link_to movie_votes_path(@movie, status: :up), class: "like-btn btn btn-outline-primary btn-sm px-3 ", method: :post do %>
                  <span><i class="far fa-thumbs-up"></i></span>
                  <span><%= @movie.votes.up.size %></span>
                <% end %>
              <% end %>

              <% if @movie.down_vote_for?(current_user) %>
                <%= link_to movie_vote_path(@movie, @movie.votes.down.find_by(user_id: current_user.id)), class: "like-btn btn btn-primary btn-sm px-3 ", method: :delete do %>
                  <span><i class="far fa-thumbs-down"></i></span>
                  <span><%= @movie.votes.down.size %></span>
                <% end %>
              <% else %>
                <%= link_to movie_votes_path(@movie, status: :down), class: "like-btn btn btn-outline-primary btn-sm px-3 ", method: :post do %>
                  <span><i class="far fa-thumbs-down"></i></span>
                  <span><%= @movie.votes.down.size %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>