
<!-- -----------slider----------------- -->

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <% @movies.each_with_index do |movie, index| %>
      <li data-target="#mycarousel" data-slide-to=#{index) class="#{'active' if index == 0}"></li>
    <% end %>  
  </ul>
  
    <div class="carousel-inner">      
      <% @movies.each_with_index do |movie, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <%= image_tag movie.bg_cover,  alt: "bg_img", width: "2000", height: "450" %>
          <div class="carousel-caption">
            <h3><%= movie.title %></h3>
            <p><%= movie.description %></p>
          </div>  
        </div>         
      <% end %>
    </div> 

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>




<!-- ----------------Genre button----------------------- -->


<div class="container mt-5">
  <h3 class="text-center  font">Movie by Genre</h3>
  <div class="row">
    <div class="col-sm-12">
      <% Genre.all.each do |g| %>
        <%= link_to g.name.capitalize, movies_path(genre_id: g.id), class: "btn mb-3 btn-#{random_color}" %>
      <% end %>
    </div>
  </div>
</div>




 <!-- ----------- cards--------------- -->



  <div class="container mt-5">
    <h1><u>Top Movies</u></h1>
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-sm-3"><div class="card" style="width: 15rem;">
           <%= link_to movie_path(movie) do %>
          <div class="zoom">
            <%= image_tag(movie.cover, alt: "img 3", width: "100%") %>
          </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.description %></p>

            <% movie.imdb_rating.to_i.times do %>
              <i class="fas fa-star text-warning"></i>
            <% end %>
            <% if (movie.imdb_rating - movie.imdb_rating.to_i ) >= 0.5 %>
              <i class="fas fa-star-half-alt text-warning"></i>
            <% end %>
            <div>
              <% if movie.up_vote_for?(current_user) %>
                <%= link_to movie_vote_path(movie, movie.up_vote_for(current_user)), class:"like-btn btn btn-primary btn-sm px-3 ", method: :delete do %>
                  <span><i class="far fa-thumbs-up"></i></span>
                  <span><%= movie.votes.up.size %></span>
                <% end %>
              <% else %>
                <%= link_to movie_votes_path(movie, status: :up), class:"like-btn btn btn-outline-primary btn-sm px-3 ", method: :post do %>
                  <span><i class="far fa-thumbs-up"></i></span>
                  <span><%= movie.votes.up.size %></span>
                  <% end %>
              <% end %>

              <% if movie.down_vote_for?(current_user) %>
                <%= link_to movie_vote_path(movie, movie.down_vote_for(current_user)), class:"like-btn btn btn-primary btn-sm px-3 ", method: :delete do %>
                  <span><i class="far fa-thumbs-down"></i></span>
                  <span><%= movie.votes.down.size %></span>
                <% end %>
              <% else %>
                <%= link_to movie_votes_path(movie, status: :down), class:"like-btn btn btn-outline-primary btn-sm px-3 ", method: :post do %>
                  <span><i class="far fa-thumbs-down"></i></span>
                  <span><%= movie.votes.down.size %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container mt-3">
    <h1><u>All Movies</u></h1>
    <div class="row mt-5">
      <% @all_movies.each do |movie| %>
        <div class="col-sm-3"><div class="card" style="width: 15rem;">
          <%= link_to movie_path(movie) do %>
          <div class="zoom">
            <%= image_tag(movie.cover, alt: "img 3", width: "100%") %>
          </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.description %></p>

            <% movie.imdb_rating.to_i.times do %>
              <i class="fas fa-star text-warning"></i>
            <% end %>
            <% if (movie.imdb_rating - movie.imdb_rating.to_i ) >= 0.5 %>
              <i class="fas fa-star-half-alt text-warning"></i>
            <% end %>
            <div>
              <% if movie.up_vote_for?(current_user) %>
                <%= link_to movie_vote_path(movie, movie.up_vote_for(current_user)), class:"like-btn btn btn-primary btn-sm px-3 ", method: :delete do %>
                  <span><i class="far fa-thumbs-up"></i></span>
                  <span><%= movie.votes.up.size %></span>
                <% end %>
              <% else %>
                <%= link_to movie_votes_path(movie, status: :up), class:"like-btn btn btn-outline-primary btn-sm px-3 ", method: :post do %>
                  <span><i class="far fa-thumbs-up"></i></span>
                  <span><%= movie.votes.up.size %></span>
                  <% end %>
              <% end %>

              <% if movie.down_vote_for?(current_user) %>
                <%= link_to movie_vote_path(movie, movie.down_vote_for(current_user)), class:"like-btn btn btn-primary btn-sm px-3 ", method: :delete do %>
                  <span><i class="far fa-thumbs-down"></i></span>
                  <span><%= movie.votes.down.size %></span>
                <% end %>
              <% else %>
                <%= link_to movie_votes_path(movie, status: :down), class:"like-btn btn btn-outline-primary btn-sm px-3 ", method: :post do %>
                  <span><i class="far fa-thumbs-down"></i></span>
                  <span><%= movie.votes.down.size %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>





   <!-- votes.up.where(user_id: current_user.id).present?
   votes.down.where(user_id: current_user.id).present? -->

 <!-- vote find ku k is path me humy (/movies/:movie_id/votes/:id(.:format) id chye the  

      votes.up.find_by(user_id: current_user.id -->

      <!-- votes.down.find_by(user_id: current_user.id) -->


<!-- if up_vote_for?(current_user)
  danger
else
  primary
end




up_vote_for?(current_user) :danger : :primary -->