<!DOCTYPE html>
<html>
  <head>
    <title>Moviedb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="home.scss">
    <script src="https://kit.fontawesome.com/f177f939a1.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
      <%= link_to 'MovieDB', root_path, class: "navbar-brand" %>            
          <ul class="navbar-nav mr-auto">                       
          </ul>
          <ul class="nav navbar-nav navbar-right">
           
            <% if user_signed_in? %>
                 <li> <%= link_to current_user.email, edit_user_registration_path, class: 'text-white mr-3' %></li>          
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-dark btn-sm mb-2' %></li>
                <% else %> 
                 <li><%= link_to 'SignUp', new_user_registration_path, class: 'btn btn-dark btn-sm mr-2' %></li>   
                  <%= link_to 'Login', new_user_session_path, class: 'btn btn-dark btn-sm' %>
                <% end %></li>
              </ul>
        </div>
      </nav>
    <div class="container">          
        <% if notice %><div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %></div><% end %>
        <% if alert %><div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <%= alert %></div><% end %>
    </div> 

            <div>
              <%= yield %>
            </div>  
            <div class="vh-100"></div>

    
    <footer class="bg-dark"> <p class="text-white m-0 py-5 text-center mt-5">copyright@2019</p></footer>                 
  </body>
</html>


